*.pyc
*.swp
.DS_Store
.bsp
.build.sh.pid
.deploy
.deploy.sh.pid
.deploy.yaml
.idea/
/assembly
/datasources
/models
/raw_models
/samples
containers/chart/rs-app/ferecommend
containers/chart/rs-app/k8s_template.yaml
containers/docker/rs-app/recommended.jar
containers/docker/rs-app/scripts
containers/docker/rs-app/src
containers/shipper/rs-app/.curl.file
containers/shipper/rs-app/.curl.req
containers/shipper/rs-app/.decoded.file
core/target*
model-download/
offline/target*
project/project
project/target
target/
tools/serverdb_*